body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
header{
    width: 100vw;
    height:  20vh;
    background-color: #424249;
    
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}
ul > section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}